<!doctype html>
<html lang="en">
  <head>
  	<title>Login to Inventory</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/css/login/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">

           
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Sign In</h3>
			      		</div>

						 

								<div class="w-100">
									
								</div>
			      	</div>
							<form action="/users/login" method="POST" class="signin-form">

                <%- include("../partials/messages") %>


			      		<div class="form-group mt-3">
			      			<input type="email" name="email" class="form-control" required>

			      			<label class="form-control-placeholder" for="email">Email</label>
			      		</div>
		            <div class="form-group">

		              <input id="password-field" type="password" name="password" class="form-control"  required>
		              <label class="form-control-placeholder" for="password">Password</label>
		              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
		            </div>
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
		            </div>
		
		          </form>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="/js/login/jquery.min.js"></script>
  <script src="/js/login/popper.js"></script>
  <script src="/js/login/bootstrap.min.js"></script>
  <script src="/js/login/main.js"></script>

	</body>
</html>

