

{{>head}}

				
				<div  class="container pt-4 bg-white">              <!-- body andcrumb -->
             
        <div class=" border border-white shadow-sm">
        <div class="">
            <nav class="navbar  navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#"><h6>Home</h6></a>
                </div>
              </nav>
        </div >
{{!-- message --}}
{{#if message}}
<div  style="text-align:center" ; class="alert  alert-{{message.type}}  alert-dismissible fade show mt-4" role="alert">
  <strong>{{message.intro}}</strong>{{message.message}}.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    {{/if}}
{{!-- message --}}
        
        <div class="d-flex justify-content-center pb-4 pt-3">
            <button class="btn btn-info" id="back">Go Back</button>
        </div>

      </div>
    </div>
			    
		    </div><!--//container-fluid-->
	    </div><!--//app-content-->

	
	    
	    {{>inv.footer}}