
<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>ICT WORKSHOP INVENTORY</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico"> 
    

    
     <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"></script> 
    
    <!-- FontAwesome JS-->
    <script defer src="/plugins/fontawesome/js/all.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
       
    <!-- App CSS -->  
    <link id="theme-style" rel="stylesheet" href="/css/portal.css">
    <link rel="stylesheet" href="/css/zhing.css">

 <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js" referrerpolicy="no-referrer"></script>
<script nonce="undefined" src="https://cdn.zinggrid.com/zinggrid.min.js"></script>
 
</head> 
