<footer class="app-footer">
		    <div class="container text-center py-3">
		         <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart" style="color: #fb866a;"></i> by <a class="app-link" href="https://adolph-dummy-site.netlify.app" target="_blank">Adolph</a></small>
		       
		    </div>
	    </footer><!--//app-footer-->
	    
    </div><!--//app-wrapper-->    					

 
    <!-- Javascript -->          
    <script src="/plugins/popper.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>  
      

    
    
    
    <!-- Page Specific JS -->
    
    <script src="js/tables.js"></script>
    <script src="/js/app.js"></script>

    <script>
  {{!-- console.log(dataSet) --}}
</script>

    {{!-- //search on zing grid --}}
    <script>
    // window:load event for Javascript to run after HTML
// because this Javascript is injected into the document head
window.addEventListener('load', () => {
  // Javascript code to execute after DOM content
  // element references
  const searchGrid = document.getElementById('searchGrid');
  const zgRef = document.querySelector('zing-grid');
 
  // debounce search
  let searchTimeoutId = null;
 
  // function declarations
  function _searchGrid(e) {
    // debounce search
    clearTimeout(searchTimeoutId);
    let targetValue = e.target.value;
    // delay 100 milliseconds to debounce user input
    searchTimeoutId = setTimeout((userInput) => {
      requestAnimationFrame(() => zgRef.searchGrid(userInput));
    }, 100, targetValue);
  }
 
  // add event listeners
  searchGrid.addEventListener('keyup', _searchGrid);
  searchGrid.addEventListener('change', _searchGrid);
  searchGrid.addEventListener('search', _searchGrid);
});
</script>

</body>
</html> 
