 {{!-- <div class="tab-pane fade" id="orders-paid" role="tabpanel" aria-labelledby="orders-paid-tab">
					    <div class="app-card app-card-orders-table mb-5">
						    <div class="app-card-body">
							    <div class="table-responsive">
								    


 
{{!-- <div class="zg-body"> --}}

 <zing-grid search pager page-size="5" ccompact="" zebra="" role="grid" viewport="tablet-portrait"  >
    <zg-caption>Inventory</zg-caption> 

    <zg-data >
      <!-- define the main source for the API -->
      
      <zg-param name="src" value="http://localhost:8000/inventory/all"></zg-param>
       <!-- Need to tell ZG how mto search the API -->
     <zg-param name="searchKey" value="search"></zg-param>
    </zg-data>

  </zing-grid>   
  </div> 
  
						        </div><!--//table-responsive-->
						    </div><!--//app-card-body-->		
						</div><!--//app-card-->
			        </div><!--//tab-pane--> --}}
			        
