  <div class="row g-4 mb-4">
				    

                    {{>stockUpdate.table}}


			       {{!-- {{>stockUpdate.table}} --}}
                    
                    <!--//col-->
			    </div><!--//row-->